@charset "utf-8";
/*@import url(./css/mainStyle.css);*/
/*div {
        width: 1920px;
        height: 1080px;
        background-image: url(./two_dimentions/main.jpg);
    }
    .box{
        opacity: 0.5;
    }*/
* {
    margin: 0;
    padding: 0;
}
div {
    width:100%;
    font: size 60px;
}
html, body {
    overflow: hidden;

}
.background_image{
    filter:alpha(opacity=50);  
    -moz-opacity:0.4;  
    -khtml-opacity: 0.4;  
    opacity: 0.4;
    width:100%;
    position:absolute;
    background:url(./two_dimentions/main_big.jpg);
    background-attachment:fixed;
}
.stable-nav {
    /*固定宽度*/
    width: 6rem;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0; 
    /*background: white;*/
    /* 渐变色 */
    background: linear-gradient(90deg,rgb(212, 110, 240),rgb(241, 204, 203),rgb(186, 243, 210),rgb(75, 75, 75));
}

ul>li{
    /* width: 15%; */
    /*border: 1px solid #FFFFFF;*/
    height: 70px;
    cursor: pointer;
    list-style: none;
    font-size: 16px;
    font-family: "微软雅黑 Light";
}
ul>li a{
    display: inline-block;
    /* padding: 24px 30px; */
    height: 100%;
    color: #000000;
    text-decoration: none;
    list-style: none;
}
.nav-icon{
    height: 18px;
    weight: 18px;
    position: relative;
    top: 4px;
}
#nav-starry {
    cursor:pointer;
    font-weight: bolder;
    background-image:-webkit-linear-gradient(bottom,red,#ff5f60,#c800ff); 
    -webkit-background-clip:text; 
    -webkit-text-fill-color:transparent; 
}
#nav-bing {
    color: green;
}
#nav-csdn {
    color: red;
}
#nav-keying {
    color: royalblue;
}
.nav-content {
    font-weight: bold;
}

#content-outermost{
    flex: 1;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events:none;
    /* 画布 所有的雪花都花在这里  */
}
.bk_img{
    opacity: 0.4;
}

#myGithub{
    float:left;
    width: 80px;
    height: 40px;
    font-size: 24px;
    position: absolute;
    top: 0px;
    right: 10px;
}
#github_img{
    width: 80px;
    height: 80px;
    opacity: 0.4;
}
.nihong{
    /* 深色底色，浅色文字，多层浅色文字阴影，弥散大 */
    color: white;
    text-shadow: 0px 0px 15px #00FFFF,0px 0px 15px #00FFFF,0px 0px 15px #00FFFF;
    text-decoration: none;
    font-family: "微软雅黑 Light";
}