@charset "utf-8"
			
		/*div {
            width: 1920px;
            height: 1080px;
            background-image: url(../two_dimentions/main.jpg);
        }*/

        .background_image{
            filter:alpha(opacity=50);  
            -moz-opacity:0.5;  
            -khtml-opacity: 0.5;  
            opacity: 0.5;
            position:absolute;
            background:url(../two_dimentions/main.jpg) ; 
            background-attachment:fixed;
        }