@charset "utf-8"
			
			div {

                width: 1920px;

                height: 1080px;

                background-image: url(../two_dimentions/main.jpg);

            }

            .box{

                filter: opacity(0.6);

            }